*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*Estilos generales para el body*/
body{
  color: #FFF;
}
/*Estilos para navbar*/
.navbarLabcar{
  border: none;
  margin-bottom: 0;
  background-color: #FFF;
  padding: 10px 0px;
}
.navbar-brand>img{
  width: 100px;
}
.logo-labcar-hero{
  width: 65px;
}
ul.nav li a{
  color: #000;
}
/*Estilos para section Hero*/
.hero{
  position: relative;
  height: 74vh;
  overflow: hidden;
  background-image: url('../assets/images/taxi.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.enjoy-the-travel-hero{
  background-color: #f7b617;
  padding: 5px;
  margin-top: 25vh;
  border-radius: 10px;
}
.enjoy-the-travel-hero h2, .enjoy-the-travel-hero p{
  padding: 5px 10px 5px 10px;
}
.enjoy-the-travel-hero a{
  background: #FFF;
  color: #000;
  padding: 10px;
  margin: 0 0 20px 10px;
  border-radius: 13px;
  border: none;
}
.hero .container-fluid>.row>.col-xs-10.col-xs-offset-2{
  padding-right: 0;
}
/*Estilos para section new app*/
.background-section-yellow{
  background-color: #f7b617;
}
.newApp{
  outline: 1px solid #FFF;
  margin: 30px 0;
}
.newApp>h3{
  padding-top: 6vh;
}
.newApp img{
  margin-bottom: 5vh;
  margin-left: 15vw;
  display: inline-block;
  max-width: 70%;
  height: auto;
}

/*Estilos para section conductor*/
#section-conductor .container-fluid .row{
  margin-right: 0;
}
.background-section-conductor{
  background-image: url('../assets/images/conduce.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.conduce-content{
  padding: 11vh 5vw;
  background-color: rgba(52, 52, 52, 0.45);
  height: 54vh;
}
.background-section-conductor .conduce-content a{
  background: #f7b617;
  border-radius: 13px;
  color: #FFF;
  font-size: 15px;
  border: none;
  padding: 10px;
}
.background-section-conductor .conduce-content a:hover{
  background: rgba(247,182,23,0.45);
  color: #FFF;
}
.background-section-conductor .conduce-content a:active{
  background: #f7b617;
  color: #FFF;
}

/*Estilos para section tarifa*/
.padding-tarifa{
  padding: 20px 30px 20px 20px;
}
.background-section-yellow .padding-tarifa form .form-group img{
  margin-right: 10px;
}
.form-group input[type="text"]{
  background:none;
  border: 1px solid #fff;
  width: 88%;
  display: inline-block;
  color: #FFF;
}
.background-section-yellow a{
  background: #FFF;
  color: #000;
  padding: 10px;
  margin: 0 0 3vh 25vw;
  border-radius: 13px;
  border: none;
}
.container-map{
  padding: 7px 7px 0 7px;
  border-radius: 10px;
  border: 1px solid #FFF;
  margin-bottom: 5vh;
}
.container-map iframe{
  width: -webkit-fill-available;
}

/*Estilos para footer*/
footer{
  background-color:#2b2b2b;
}
.padding-img-labcar-footer{
  padding: 20px 10px 0 15px;
}
footer a, footer button.btn.btn-link{
  color: #FFF;
}
footer button.btn.btn-link{
  display: block;
}
footer .links-external-footer .visible-xs a{
  margin-right: 10px;
}
footer .links-external-footer img{
  width: 50%;
  margin-top: 20px;
}

/*Modificando responsive*/

@media (min-width: 768px){
  /*Hero*/

  header ul.nav li{
    display: inline-block;
  }
.enjoy-the-travel-hero{
  padding-left: 20px;
  margin-top: 10vh;
}
.hero .container-fluid .row:last-child .col-sm-6.col-sm-offset-6{
  padding-right: 0;
}
.hero .enjoy-the-travel-hero div.col-sm-12.hidden-xs img{
  width: 70px;
  margin-left: 10px;
}
.enjoy-the-travel-hero a{
  margin-right: 19vw;
  display: block;
  margin-top: 10px;
}
.enjoy-the-travel-hero p{
  display: inline-block;
}
.logo-labcar-hero-desktop{
  width: 70px;
  margin-left: 20px;
}
#section-new-app .container-fluid{
margin-left: 0px;
 padding-left: 0px;
}
.newApp{
  overflow: hidden;
  margin: 30px 0;
  padding: 30px 20px;
}
.newApp img{
  float: left;
  max-width: 30%;
  margin-left: 2vw;
  margin-right: 5vw;
  margin-bottom: 0;
  margin-top: 3vh;
}
#section-new-app .newApp p{
  padding: 0px 25px 0px 0px;
}
.background-section-conductor{
  height: 30vh;
  background-position: center;
}
.conduce-content{
  height: auto;
  display: inline-block;
  padding: 10px 20px;
}
#section-conductor .container-fluid{
  padding-right: 0;
}
.padding-tarifa{
  padding-top: 6vh;
}
.background-section-yellow .padding-tarifa a{
  margin: 0 0 3vh 15vw;
}
footer .container-fluid{
  padding-right: 36px;
  padding-left: 36px;
}
.container-map{
  margin-top: 4vh;
  margin-right: 2vw;
}
footer .links-social-footer a {
  margin-right: 10px;
}
.links-social-footer{
  padding-top: 25vh;
}
.links-external-footer{
  padding-top: 17.5vh;
}
.text-left{
  text-align: left;
}
}


@media (min-width: 992px){
#section-conductor .conduce-content{
  padding: 20px 20px;
}
.container-map{
  margin-right: 4vw;
}
.background-section-yellow .padding-tarifa a{
  margin: 0 0 3vh 12vw;
}
.links-social-footer{
  padding-top: 18vh;
}
.links-external-footer {
  padding-top: 12vh;
}
.logo-labcar-hero-desktop{
  width: 70px;
  margin-left: 20px;
}
}


@media (min-width: 1200px){
.hero{
  height: 90vh;
}
.enjoy-the-travel-hero{
  margin-top: 20vh;
}
#section-new-app .container-fluid .row .newApp .visible-sm.col-sm-6.visible-md.col-md-6.visible-lg.col-lg-offset-2.col-lg-4 p{
  font-size: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.newApp img{
  margin-left: 5vw;
  margin-right: 2vw;
}
.background-section-conductor{
  height: 60vh;
}
.conduce-content{
  padding: 30px 20px;
}
.links-social-footer{
  padding-top: 38vh;
}
.links-external-footer {
  padding-top: 20vh;
}
}
