*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*Estilos generales para el body*/
body{
  color: #FFF;
}
/*Estilos para navbar*/
.pull-right{
  float: right !important;
}
.navbarLabcar{
  border: none;
  margin-bottom: 0;
  background-color: #FFF;
  padding: 10px 0px;
}
.navbar-brand>img{
  width: 100px;
}
.logo-labcar-hero{
  width: 65px;
}
ul.nav li a{
  color: #000;
}
/*Estilos para section Hero*/
.hero{
  position: relative;
  height: 74vh;
  overflow: hidden;
  background-image: url('../assets/images/taxi.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.enjoy-the-travel-hero{
  background-color: #f7b617;
  display: inline-block;
  float: right;
  margin-top: 30vh;
  border-radius: 10px;
}
.enjoy-the-travel-hero h2, .enjoy-the-travel-hero p{
  padding: 5px 10px 5px 10px;
}
.enjoy-the-travel-hero button{
  background: #FFF;
  color: #000;
  padding: 10px;
  margin: 0 0 20px 10px;
  border-radius: 13px;
  border: none;
}

/*Estilos para section new app*/
.background-section-yellow{
  background-color: #f7b617;
}
.newApp{
  outline: 1px solid #FFF;
  margin: 30px 0;
}
.newApp>h3{
  padding-top: 6vh;
}
.newApp img{
  margin-bottom: 5vh;
  margin-left: 15vw;
  display: inline-block;
  max-width: 70%;
  height: auto;
}

/*Estilos para section conductor*/
.background-section-conductor{
  background-image: url('../assets/images/conduce.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.conduce-content{
  padding: 11vh 5vw;
  background-color: rgba(52, 52, 52, 0.45);
  height: 54vh;
}
.background-section-conductor .conduce-content button{
  background: #f7b617;
  border-radius: 13px;
  color: #FFF;
  font-size: 15px;
  border: none;
  padding: 10px;
}

/*Estilos para section tarifa*/
.padding-tarifa{
  padding: 20px 30px 20px 20px;
}
.background-section-yellow .padding-tarifa form .form-group img{
  margin-right: 10px;
}
.form-group input[type="text"]{
  background:none;
  border: 1px solid #fff;
  width: 88%;
  display: inline-block;
  color: #FFF;
}
.background-section-yellow button{
  background: #FFF;
  color: #000;
  padding: 10px;
  margin: 0 0 3vh 25vw;
  border-radius: 13px;
  border: none;
}
.container-map{
  padding: 7px 7px 0 7px;
  border-radius: 10px;
  border: 1px solid #FFF;
  margin-bottom: 5vh;
}
.container-map iframe{
  width: -webkit-fill-available;
}

/*Estilos para footer*/
footer{
  background-color:#2b2b2b;
}
.padding-img-labcar-footer{
  padding: 20px 10px 0 15px;
}
footer a, footer button.btn.btn-link{
  color: #FFF;
}
footer button.btn.btn-link{
  display: block;
}
footer .links-external-footer .visible-xs a{
  margin-right: 10px;
}
footer .links-external-footer img{
  width: 70%;
  margin-top: 20px;
}
